header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

    header .navbar {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        background: #D2042D;
    }

        header .navbar .nav-logo .logo-text {
            font-size: 35px;
            font-weight: bold;
            margin-left: 50px;
            color: #fff;
        }

        header .navbar .nav-menu {
            display: flex;
            gap: 25px;
            margin-right: 50px;
        }

            header .navbar .nav-menu .nav-link {
                padding: 12px 20px;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                border-radius: 30px;
                transition: background-color 0.3s ease, color 0.3s ease;
                text-decoration: none;
            }

                header .navbar .nav-menu .nav-link:hover,
                header .navbar .nav-menu .nav-link.active {
                    color: #D2042D;
                    background: #fff;
                }

.nav-link {
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .nav-link.active {
        background-color: #fff;
        color: #D2042D;
    }

main {
    margin-top: 100px; /* Add margin so content doesn’t get hidden under navbar */
}
